<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> ASTRO CAT GAMES </title>
     <link rel="stylesheet" href="../../css/usuarios.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"><div class="extra1"> 
         <%- include("../partials/header") %> 
         
    <div class="body2"><div class="cajaBorrar2"> 
    <h1>Sube tu metodo de pago para comprar productos </h1>
    <%  if (locals.errors) { locals.errors.forEach(error=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                    <% }) } %>

     <div class="errores"> 
    <ul></ul><br></div> 
     <div class="tarjetas"> 
    <img class="tarjeta" src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1763903393/masterKaard_v9zgic.png">
    <img class="tarjeta" src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1763906625/visaaa_cbzxct.png">
    <img class="tarjeta" src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1763906645/mercadoPaago_cqjxin.png">
    </div>
    <form action="/productos/creaProducto" method="POST" id="formularioCreaProducto" class="formularioRegistro" enctype="multipart/form-data">
    <input type="text" placeholder="nombre del producto" name="nombre" id="nombre" class="inputProducto" ><br><br>
    <label for="categorias" class="label"> Categoria </label>
        <select name="categoria" class="label" id="categoria">
        <option value="juegos"> Videojuego </option>
        <option value="consolas"> Consola </option>
        <option value="accesorios"> Accesorios </option>
        <option value="merch"> Merch </option>
        <option value="packs"> Packs </option> 
    </select><br><br>
    <input type="text" placeholder="descripcion del prod." name="descripcion" id="descripcion" class="inputProducto" ><br><br>
    <input type="number" placeholder="precio" name="precio" id="precio" class="inputProducto" ><br><br>
    <input type="number" placeholder="cantidad" value="1" name="cantidad" id="cantidad" class="inputProducto"><br><br>
    <input type="file" placeholder="imagen del prod." name="imagen" id="imagen" class="inputProducto"><br><br>
    <button type="submit" class="butonn">crear producto</button><br></form>
    
    
   
 </div><br><br>
</div><%- include("../partials/footer") %>
   </div>  <script src="/js/creaProducto.js"> </script>  </body> 
</html>