<link rel="stylesheet" href="/css/partials.css">
<br>
<div class="footer"> <button id="quieneSomos" class="botonFoot"> <h2> nosotros</h2></button> <h3> Copyright © 1999-2025 AstroCat Games </h3> 
<div class="redes"> <img class="wazaa" src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1759794903/wazaagrizz_wrkrtz.png"><img class="instaa" src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1759794889/instagrizz_mo9jnt.png"></div>
</div>
 <script src="/js/footer.js"></script>  