/*header*/
.header{
    color:white;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1754835600/81kTrSqMuLL_l0k3gl.jpg");
    border: solid 5px black;
    height: 75px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
}
.fixed{
    position:fixed;
    width:100%;
    z-index: 10;
}
.fixed2{
    position: fixed;
    z-index: 10;
    margin-top: 36px;
    margin-right: 500px;
}
.logo{
    width: 10%;
}
.logo:hover{
    cursor: pointer;
}
.titulo{
    margin-right: 15%;
}
.user{
    display: flex;
    justify-content:space-around;
    margin-left: 15px;
}
.iniciosesion{
    width: 195px;
    padding-left: 4px;
    border: solid 5px black;
    margin-right: 5px;
    margin-top: 5px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: gray;
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363063/platino_fa3x91.jpg");*/
}
.registro{ 
    width: 172px;
    border: solid 5px black;
    font-size: 25px;
    margin-top: 5px;
    height: 50px;
    cursor: pointer;
    background-color: grey;
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363063/platino_fa3x91.jpg");*/
}
/*columna */
.extra1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.column{
    background-color: black;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1759324707/8fc57cdbfa254eb4b604bc4d1ffee0ab_lindkk.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
    background-color: purple;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;  
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
}
.funcionalidad{
    color: white;
    background-color: grey;
    border: solid 2px black;
    cursor: pointer;
    height: 40px;
    /*border-radius: 15px;*/
    padding-left: 3px;
    padding-right: 3px;
}
.funcionalidad:hover, .registro:hover, .iniciosesion:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.carrote{
  display: none;
}
.carrito{
    position:absolute;
    top:50px;
    margin-top: 30px;
    background-color: white;
    width: 470px;
    z-index: 1;
    border-bottom: solid 3px black;border-left: solid 3px black;border-right: solid 3px black;
}
.productiño{ 
    background-color: darkorchid;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;


}
.elemClose:hover{
    color: red;
    cursor: pointer;
}
.total{ 
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: gray;
   
   background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
}
.totalidad{
 background-color: darkorchid;
 background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
 
}
.finalizar{
    margin-top: 5px;
    margin-bottom: 4px;
    width: 190px;
    margin-left: 135px;
    background-color: blueviolet;
    color: white;
}
.elemNum{
    font-weight: 800;
}
/*footer*/
.footer{
    color:black;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1754835600/81kTrSqMuLL_l0k3gl.jpg");
    color: aliceblue;
    border: solid 6px black;
    height: 75px;
    width: 1350px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    margin-right: 1px;
}
.botonFoot{
    padding: 2px;
    background-color: gray;
    color: white;
}
.botonFoot:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: purple;
}