/*header*/
.header{
    color:white;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1754835600/81kTrSqMuLL_l0k3gl.jpg");
    border: solid 5px black;
    height: 75px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
    font-weight: 0 !important;
} 

/*main {
  margin-top: 250px; 
}
body {
  margin: 0;
  padding: 0;
}*/
.fixed{
    position:fixed;
    width:100%;
    z-index: 10;
}
.fixed2{
    position: fixed;
    z-index: 10;
    font-size: 20px;
    margin-top: 36px;
    margin-right: 500px;
}
.fixed3{
   display: none; 
}
/*.listaUsuarios{
    color: white;
    background-color: grey;
    border: solid 2px black;
    cursor: pointer;
    height: 40px;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
}*/
.perfilBtnn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    /*margin-top: 50px;*/
}
.perfilCaja{
    /*position:absolute;
    top:50px;*/
    margin-top: 165px;
    margin-right: 48px;
    position: absolute;
    z-index: 21;
    width: 110px;
    height: 100px;
    /*border: solid 3px black;*/
}
/*acomoda esos dos botones carajo >:v*/
.botonesPerfilHeader2/*grupal*/{
    margin-top: 10px;
    border: solid 3px black;
    height: 110px;
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1736259135/photo-1550684376-efcbd6e3f031_ekeoui.jpg");*/
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1754835600/81kTrSqMuLL_l0k3gl.jpg");
}
.botonesPerfilHeader/*individual*/{
     color: black;
     width: 100%;
     height: 55px;
     padding-left: 27px;
     padding-top: 12px;
     border-bottom:solid 3px black;
     color: white;
    
}
.botonesCerrarSesHeader{
     color: white;
     width: 100%;
     height: 55px;
     padding-left: 25px;
}
.botonesPerfilHeader:hover, .botonesCerrarSesHeader:hover{
   cursor: pointer;
   color: blueviolet;
}
.fotoDePerfilHeader{
    position: absolute;
    margin-right: 50px;
    margin-top: 2px;
    height: 62px;
    width: 75px;
    border-radius:100%;
    cursor: pointer;
} 
.logo{
    width: 10%;
}
.logo:hover{
    cursor: pointer;
}
.titulo{
    margin-right: 15%;
    font-size: 45px;
    
}
.user{
    display: flex;
    justify-content:space-around;
    margin-right: 50px;
}

.iniciosesion{
    width: 195px;
    padding-left: 4px;
    border: solid 5px black;
    margin-right: 5px;
    margin-top: 5px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: gray;
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363063/platino_fa3x91.jpg");*/
}
.registro{ 
    width: 172px;
    border: solid 5px black;
    font-size: 25px;
    margin-top: 5px;
    height: 50px;
    cursor: pointer;
    background-color: grey;
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363063/platino_fa3x91.jpg");*/
}
/*columna */
.extra1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.column{
    background-color: black;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1759324707/8fc57cdbfa254eb4b604bc4d1ffee0ab_lindkk.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
    background-color: purple;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;  
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
}
.uno{
 color: white;
    background-color: grey;
    border: solid 2px black;
    cursor: pointer;
    height: 40px;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
    /*debo poner que se queden fija e inamovibles*/
    position:absolute;
    left: 7%;
}
.dos{
 color: white;
    background-color: grey;
    border: solid 2px black;
    cursor: pointer;
    height: 40px;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
    /*debo poner que se queden fija e inamovibles*/
    position:absolute;
    left: 43%;
}
.tres{
 color: white;
    background-color: grey;
    border: solid 2px black;
    cursor: pointer;
    height: 40px;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
    /*debo poner que se queden fija e inamovibles*/
    position:absolute;
    left: 72%;
}
/*.funcionalidad{
    
}*/
.funcionalidad:hover, .registro:hover, .iniciosesion:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.carrote{
  display: none;
}
.carrito{
    position:absolute;
    top:50px;
    margin-top: 30px;
    background-color: white;
    width: 470px;
    z-index: 1;
    border-bottom: solid 3px black;border-left: solid 3px black;border-right: solid 3px black;
}
.productiño{ 
    background-color: darkorchid;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-size: 25px !important;

}
.elemClose:hover{
    color: red;
    cursor: pointer;
}
.total{  
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: gray;
   height: 30px;
   background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
}
.totalpuntos{
    font-size: 25px;
    color: black;
}
.valorTotal{
    font-size: 25px;
    font-weight: 1000 !important;
    color: black;
}
.elemName{
    color: black;
}

.totalidad{
 background-color: darkorchid;
 background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
 
}
.finalizar{
    margin-top: 5px;
    margin-bottom: 4px;
    width: 200px;
    font-size: 21px;
    margin-left: 135px;
    background-color: blueviolet;
    color: white;
}
.finalizar:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.elemNum{
    font-weight: 800;
}/*eliminar si es necesario*/
/*footer*/
.footer{
    color:black;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1754835600/81kTrSqMuLL_l0k3gl.jpg");
    color: aliceblue;
    border: solid 6px black;
    height: 75px;
    width: 1350px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    margin-right: 1px;
}
.botonFoot{
    padding: 2px;
    background-color: gray;
    color: white;
    height: 50px;
    margin-right: 50px;
    margin-left: 20px;
}
.botonFoot:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: purple;
}
.redes{
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wazaa,  .instaa{ 
    width: 85px;
    height: 40px;
    border-radius: 10px;
}
.wazaa:hover,  .instaa:hover{ 
    cursor:pointer;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.my-custom-popup-border{
    border: 6px solid black;;
}
.header *{font-weight: normal;}
.column *{font-weight: normal;}
.carrito *{font-weight: normal;}
.valorTotal * {font-weight: 500px !important; color:black !important;}
