@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');
*{
    box-sizing: border-box;
    /*font-family: 'courier', cursive; elegante y */
    /*font-family: 'Press Start 2P', cursive; no está mal para un titulo o una sección supongo*/
    /*font-family: 'VT323', monospace; lo mismo pero más chiquito*/
    font-family: 'Orbitron', sans-serif; /*ta buenaaaa*/
    /*solución a bordes (para futuros proyectos ;v )*/
    margin: 0;
    padding: 0;
}
.body{
    background-color: grey; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
    background-position: center;
}
/*body principal*/
.body2{
    width: 1140px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cajaBorrar2{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
}
.cajaBorrar22{
    border: solid 5px purple;
    color: white !important;
    color:black;
    background-color: black;
    width: 75%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
}
.cajaBorrar3{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    flex-wrap: wrap;
    overflow-wrap: anywhere; 
  word-break: break-word;   
}
.descripcion{
    width: 400px;       
    height: auto;  
    white-space: normal;
    word-wrap: break-word;
     overflow-wrap: break-word;
     max-height: 200px;  
    overflow-y: auto;
}
.ibANDnnb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.fotoDePerfil{
    width:500px;
    height: 300px;
    padding:0px;
    margin-bottom: 10px;
}
.imagenybotones{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-right: 50px;
 padding-left: 0%;
}
.bonot{
    width: 100px;
    height: 30px;
    margin: 2px;
    background-color: silver;
}
.bonot:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: blueviolet;
}
.bonotCompra{
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
}
.nombreNumerosyBoton{
 display: flex;
 flex-direction: column;
}
.nombre{
 margin-bottom: 20px;
}
.numeros{
 display: flex;
 flex-direction: row;
 margin-bottom: 20px;
 width: 500px;
}
.numero{
    margin-right:60px;
}
.botones{
    display: flex;
    flex-direction: row;
}


 