@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');
*{
    box-sizing: border-box;
    /*font-family: 'courier', cursive; elegante y */
    /*font-family: 'Press Start 2P', cursive; no está mal para un titulo o una sección supongo*/
    /*font-family: 'VT323', monospace; lo mismo pero más chiquito*/
    font-family: 'Orbitron', sans-serif; /*ta buenaaaa*/
    /*solución a bordes (para futuros proyectos ;v )*/
    margin: 0;
    padding: 0;
}
.body{
    background-color: grey; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
    background-position: center;
}
/*body principal*/
.body2{
    width: 1140px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cajaBorrar{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-sizing: content-box;
}
.cajaBorrar2{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
}
.cuadradote{
    color: white;
    background-color: black !important ;
    border: solid 5px purple !important;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 250px;
    font-size: small;
}
.cuadradote:hover{
box-shadow: 0 10px 16px black, 0 10px 20px 0 black;
}
.wrapeate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.formularioRegistro{
    margin-left:170px;
}
.fotoDePerfil{
    width:225px;
    height: 200px;
    padding:0px;
}
.bonot{
    width: 50px;
    height: 30px;
    margin: 2px;
}
.dosFuncionalidades{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 5px;
}
.errores{
    margin-left:170px;
}
