@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');
*{
    box-sizing: border-box;
    /*font-family: 'courier', cursive; elegante y */
    /*font-family: 'Press Start 2P', cursive; no está mal para un titulo o una sección supongo*/
    /*font-family: 'VT323', monospace; lo mismo pero más chiquito*/
    font-family: 'Orbitron', sans-serif; /*ta buenaaaa*/
    /*solución a bordes (para futuros proyectos ;v )*/
    margin: 0;
    padding: 0;
}
.body{
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1750548057/Central_Loquendo_City_cygssa.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;*/
    background-color: grey; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
    background-position: center;
    /*background-size:cover;*/
    /*display: flex;
    align-items: center;
    flex-direction: column;*/
    /*height: 96vh;
    width: 96vh;*/
}
/*
/*columna */
.extra1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.column{
    background-color: purple;   
    /*background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1754835559/image-1689504354-3016_v4aytd.jpg");*/
    /*border-bottom: solid 5px black;*/
    /*border-right: solid 5px black;
    border-left: solid 5px black;*/
   /* height: 85vh;
    width: 12%;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: row;*/
    height: 40px;
    /*width: 1350px /*1030px*/;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-around;
}
.funcionalidad{
    color: white;
    background-color: /*rgb(151, 150, 150)*/grey;
    border-bottom: solid 2px black;
    /*margin-left:250px;*/
    cursor: pointer;
    height: 40px;
}
.funcionalidad:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*body principal*/
.body2{
    width: 1140px; 
    /*height: 85vh;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cajaBorrar{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    height:/*353*/ /*370*/ 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-sizing: content-box;
    
    
    /*display: inline-block;*/
}
.cajaBorrar2{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.cuadradote{
    background-color: /*white*/silver;
    border: solid 5px black;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 250px;
    font-size: small;
}
.wrapeate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.formularioRegistro{
    margin-left:170px;
}
.fotoDePerfil{
    width:225px;
    height: 200px;
    padding:0px;
}
.bonot{
    width: 50px;
    height: 30px;
    margin: 2px;
}
.dosFuncionalidades{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 5px;
}
.errores{
    margin-left:170px;
}
