@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif; 
    margin: 0;
    padding: 0; 
} 
.body{
    background-color: grey; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1752363693/silver-metallic-background-free-photo_oqg363.jpg");
    background-position: center;
}



/*body principal*/
.body2{
    width: 1140px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cajaBorrar{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 15px;
}
.cajaBorrar2{
    border: solid 5px black;
    color:black;
    background-color: silver;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    border-radius: 15px;
}
.cuadradote{
    color: white;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1760660086/blackk_g3xm8m.jpg");
    background-color: black !important ;
    border: solid 5px purple !important;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 250px;
    font-size: small;
    border-radius: 15px;
}
.cuadradote:hover{
box-shadow: 0 10px 16px black, 0 10px 20px 0 black;
cursor: pointer;
}
.wrapeate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fa-crown{
    margin-top: 5px;
    color: yellow;
}
.formularioSesion{
    align-items: center;
}
.inputSesion{
    height: 30px;
    width: 550px;
    font-size: 20px;
    padding: 0%;
}
.inputRegistro{
    height: 30px;
    width: 550px;
    font-size: 20px;
    padding: 0%;
}
.inputProducto{
    height: 30px;
    width: 550px;
    font-size: 20px;
    padding: 0%;
}
.label{
    font-size: 20px;
}

.butonn{
    font-size: 20px;
    width: 250px;
    height: 35px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.butonnn{
    font-size: 20px;
    width: 250px;
    height: 35px;
    
    margin-bottom: 50px;
}
.buto{
    font-size: 20px;
    width: 250px;
    height: 35px;
    margin-bottom: 50px;
}
.butonn:hover, .buto:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: purple;
  color: whitesmoke;
}
.fotoDePerfil{
    width:225px;
    height: 200px;
    padding:0px;
}
.bonot{
    width: 50px;
    height: 30px;
    margin: 2px;
    
}
.dosFuncionalidades{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 5px;
}
.errores{
    margin-left:170px;
}
.errores2{
    margin-left:140px;
}

/*tarjetas*/
.tarjetas{
    display: flex;
    flex-direction: row;
}
.tarjeta{
    width: 120px;
    height: 80px;
}
.tarjetaa{
    width: 140px;
    height: 90px;
}
.imgYbtn{
    display: flex;
    flex-direction: column;
}
.mp{
    display: flex;
    flex-direction: row;
}
.qr{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    border-right: solid 2px black;
}
.cvu{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.verif{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    accent-color: purple;
}
.muchasClass{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.finalizarYboton{
    align-items: center;
    display: flex;
    flex-direction: column
}
.finalizarr{
    margin-right: 150px;
}