<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> ASTRO CAT GAMES </title>
     <link rel="stylesheet" href="../../css/usuarios.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"><div class="extra1"> 
         <%- include("../partials/header") %>
         
    <div class="body2"><div class="cajaBorrar"> 
    <h1>Inicio de sesi칩n</h1><br><br>
    <form action="/" method="POST" id="formularioSesion" class="formularioSesion">
    <input type="text" placeholder="nombre de usuario" id="nombre" class="input"><br><br>
    <input type="password" placeholder="contrase침a" id="contrase침a" class="input"><br><br>
    <button class="buto">iniciar sesi칩n</button></form>

    </div>
   <br><br> <%- include("../partials/footer") %>
    </div></div>
   </div> </body>
</html>