<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> En busca de nombre :v </title>
     <link rel="stylesheet" href="../../css/usuarios.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">

         <div class="extra1"> <div class="fixed"> 
    <div class="header"> <h1 class="logo"> LOGO </h1> <h1 class="titulo"> NOMBRE </h1> <div class="user">  <h2 class="iniciosesion">iniciar sesión</h2><h2 class="registro">registrarse</h2></div></div>
      <div class="column">
     <h2 class="funcionalidad"> carrito(0) </h2>
     <h2 class="funcionalidad"> lista de deseados</h2>
     <h2 class="funcionalidad"> mi perfil </h2>
    </div></div> <br><br><br><br><br><br>
    <div class="body2"><div class="cajaBorrar"> 
    <h1>Registro</h1>
    </div>
    
    </div></div>
</body>
</html>